* {
  text-decoration: none;
}

body {
  background-color: #06151e;
  background-image: url("../../img/bg_star-2.svg");
  min-height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
}

.bigmoon, .kumo1, .kumo2, .kumo3 {
  position: relative;
}

.bigmoon img {
  height: 100vh;
  position: absolute;
  margin-left: -30px;
  margin-top: -50px;
  z-index: -1;
}

.kumo2 img {
  position: absolute;
  margin-top: 520px;
  margin-left: -100px;
}

.kumo3 img {
  width: 10%;
  margin-top: 80px;
  margin-left: -10%;
}

.kumo3 {
  animation-name: kumo3;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.kumo1 {
  animation-name: kumo1;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.kumo1 img {
  width: 32%;
  margin-top: -50px;
  margin-left: 1920px;
}

@keyframes kumo1 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: -135%;
    top: 0px;
  }
}
@keyframes kumo3 {
  0% {
    left: 0px;
    top: 0px;
  }
  100% {
    left: 135%;
    top: 0px;
  }
}
.txtbox {
  width: 450px;
  height: 250px;
  color: #fff;
  border: solid 2px #0f2547;
  border-radius: 25px;
  background: rgba(15, 37, 71, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
  padding: 30px;
  margin-left: 52%;
  margin-top: 8%;
}

.tidetime {
  width: 370px;
  display: flex;
  font-size: 20pt;
  font-weight: 150px;
  justify-content: space-between;
  padding-bottom: 5px;
}

.tidetime .txt:first-child {
  width: 55px;
  height: 40px;
  box-sizing: border-box;
  color: #06151e;
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  -webkit-text-stroke: 0.5px #000;
  padding-top: 11px;
  text-align: center;
  margin-top: -7px;
  margin-left: 2px;
}

.date {
  width: 370px;
  border-bottom: #fff 2px solid;
  box-sizing: border-box;
  padding-bottom: 20px;
}

.date .txt {
  font-size: 48px;
  font-weight: 20px;
  text-align: justify;
  -moz-text-align-last: justify;
       text-align-last: justify;
}

.lunarcalendar {
  width: 370px;
  display: flex;
  font-size: 16pt;
  font-weight: 0.5px;
  box-sizing: border-box;
  justify-content: space-between;
  padding-top: 10px;
}

.lunarcalendar .txt {
  letter-spacing: 1px;
}

.wrap {
  margin-top: -19%;
  margin-left: 94%;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.icon {
  margin-top: 10px;
  width: 65px;
  height: 65px;
  box-sizing: border-box;
  border: #0f2547 1px solid;
  border-radius: 5px;
  background-color: rgba(48, 67, 94, 0.5);
  text-align: center;
  padding-top: 6px;
}

.icon .fi {
  font-size: 30px;
  color: #fff;
}

.icon .txt {
  padding-bottom: 4px;
  color: #fff;
}

.moonimg, .starimg1, .starimg2, .starimg3 {
  position: relative;
}

.moonimg img,
.starimg1 img,
.starimg2 img,
.starimg3 img {
  position: absolute;
}

.txtbox .moonimg img {
  width: 45px;
  margin-left: 170px;
  margin-top: -220px;
}

.txtbox .starimg1 img {
  width: 55px;
  margin-left: -245px;
  margin-top: -12px;
}

.txtbox .starimg2 img {
  margin-left: -220px;
  margin-top: 25px;
}

.txtbox .starimg3 img {
  margin-left: 210px;
  margin-top: -210px;
}

.icon:hover .fi-sr-house-chimney {
  color: rgb(0, 255, 179);
}

.icon:hover .fi-ss-moon {
  color: rgb(207, 204, 6);
}

.icon:hover .fi-sr-brightness {
  color: rgb(209, 29, 29);
}

.icon:hover .fi-sr-star {
  color: rgb(255, 217, 0);
}

.icon:hover .fi-ss-water {
  color: rgb(27, 178, 238);
}

.icon:hover .fi-ss-book {
  color: rgba(230, 164, 20, 0.863);
}

.icon:hover .fi-br-menu-dots {
  color: rgb(14, 13, 1);
}

.icon:hover {
  height: 70px;
  width: 70px;
  box-shadow: -3px 3px 3px 0px rgba(66, 44, 104, 0.8);
}/*# sourceMappingURL=style.css.map */